    body {
      font-family: Arial, sans-serif;
      background: #f1f1f1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: black;
    }

    .login-box {
      background: white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      width: 300px;
      background-color:skyblue
    }

    .login-box h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    .input,a{
        font-size:small;
        color:black;
        text-decoration:none;
        text-align:center;
        display:block;
    }
    a:hover{
        text-decoration:underline;
    }
    
    .login-box input {
      width: 90%;
      margin-left:5px;
      padding: 10px;
      margin:8px 0;
      border: 1px solid green;
      border-radius: 5px;
      cursor:pointer
    }
    input:hover {
    background-color: #f1f1f1;
    border: 2px solid blue;
    transition: 0.3s;
    }

    .login-box button {
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .login-box button:hover {
      background-color: #45a049;
    }

    .error {
      color: red;
      font-size: 14px;
      text-align: center;
      margin-top: 10px;
    }