@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #7d9c75;

}
.container {
  background-color: rgb(207, 184, 184);
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
input{
    padding: 10px;
    display: block;
    width:95%;
    margin: 10px 0;
    border-radius: 5px;
    background-color: rgb(220, 243, 243);
    border:2px solid grey;
    margin-bottom:40px;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    padding:10px;
}
button{
    width:99%;
    padding: 10px;
    border-radius: 10px;
    background-color: green;
    color: white;
    transition-duration: 0.3s ;
    cursor: pointer;
    margin-bottom: 20px;
}
p{
    text-align: center;
    color: red;
}
button:hover{
    background-color: #45a049;
}
.material-symbols-outlined{
    font-size: 24px;
    vertical-align: middle;
}